* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #151718;
    font-family: 'Inter', sans-serif;
}

.barraNavegacao {
  border-radius: 0 0 40px 40px;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.10); 
  height: 64px;
  padding: 1% 4% 2% 4%;
  font-family: 'Inter', sans-serif;
  background-color: #151718;
}

.icone , .nome{
    margin-right: 10px;
    margin-top: 8px;
}
.icone{
    width: 22px;
}
.imagem{
    width: 50%;
    border-radius: 25px;
}
.imagem__esquerda{
    margin-right: 6%;
}
.imagem__direita{
    margin-left: 6%;
}

.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  gap: 12%;
}

/* Home page */
.apresentacao {
    padding-top: 3%;
    text-align: center;
  }

.titulo_segundo, .titulo_terceiro  {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    margin-bottom: 13%;
  }
 .titulo__quarto{
    display: flex;
    align-items: center;
    justify-content: center;
 }

.titulo {
    font-size: 64px;
    font-weight: 700;
    background: linear-gradient(270deg, #4b2c63 40%, #bfa2d4 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10%;
    
}
  .apresentacao > h2 {
  color: #fff;
}

.biography{
    display: flex;
    margin-top: 100px;
}

.firstText{
    display: flex;
    align-items: center;
}

.paragrafo{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
  }

  /* Small Screen */
 @media(max-width:576px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem{
        margin-top: 10%;
    }
    .imagem__esquerda{
        margin-bottom: 10%;
    }
    .titulo{
        font-size: 50px;
        font-weight: 700;
    }
    .paragrafo{
        font-size: 22px;
    }
}

/* Medium Screen */
@media(max-width:768px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem{
        margin-bottom: 10%;
    }
  .hamburguerbar{
    margin-top: 3%;
    background-color: #17191a;
    border-radius: 0 0 25px 25px;
  }
  
} 

/* Large Screen */
  @media(max-width:992px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
  }

  /* extraLarge Screen */
  @media(max-width:1400px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem__esquerda{
         margin-bottom: 10%; /*It works, for some reason, but it works  */
    }
   
  }

.funcionalidades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
  }
  
.listaFuncionalidade{
    display: flex;
}

.thirdPart{
    margin-top: 20%;
}

.advantages{
    display: flex;
}

ol > li , ul > li{
    padding-bottom: 5%;
}

.contato{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    text-align: center;
    width: 45%;
}

.texto_principal{
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.texto_contatos{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
    color: #fff;

}

 .container_formulario{
    font-family: 'Inter', sans-serif;
    color: #fff;      
} 

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 161px auto;
    padding: 1em;
    background-color: #1e2021;
    width: 506px;
    height: 638px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px #412457;
    gap: 30px;
}


form > h2{
    margin-top: 10px;
    width: 426px;
    font-size: 30px;
    font-weight: 600;
}

input, textarea{
    padding: 10px;
    width: 426px;
    height: 42px;
    border: 1px solid #4b4c4d;
    outline: none;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    background-color: #292b2c;
    color: #fff;
    
}

input:hover, textarea:hover{
    border: 1px solid #fff;
    
}


input:focus, textarea:focus{
    border: 1px solid #fff;
    
}

fieldset > input{
    width: 210px;
}

textarea{
    height: 109px;
    resize: none;
}

button{
    width: 426px;
    height: 42px;
    border-color: transparent;
    border-radius: 5px;
    background: linear-gradient(90deg, #2E1A47 0%, #4B2C63 220.18%);
    border: none;
    color: #fff;
}

button:hover{
    background: linear-gradient(90deg, #2E1A47 0%, #4B2C63 117.18%);
}

.titulo__quarto{
    margin-bottom: -130px;
    margin-top: 13%;
}