* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151718;
}


.barraNavegacao {
    border-radius: 0 0 40px 40px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.10); 
    height: 64px;
    padding: 1% 4% 2% 4%;
    font-family: 'Inter', sans-serif;
}

.icone , .nome{
    margin-right: 10px;
    margin-top: 8px;
}
.icone{
    width: 22px;
}
.imagem{
    width: 50%;
    border-radius: 25px;
}
.imagem__esquerda{
    margin-right: 6%;
}
.imagem__direita{
    margin-left: 6%;
}

.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  gap: 12%;
}

/* Home page */
.apresentacao {
    padding-top: 3%;
    text-align: center;
  }
  .titulo{
    font-size: 48px;
    margin-bottom: 40px ;
  }
  .titulo__segundo, .titulo__terceiro {
    display: flex;
    color: white;
    margin-top: 10%;
    justify-content: center;
    margin-bottom: 13%;
  }
  
  .apresentacao > h1 {
    font-size: 64px;
    font-weight: 700;
    background: linear-gradient(270deg, #4b2c63 0%, #bfa2d4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2%;
  }
  
  .apresentacao > h2 {
  color: #fff;
}

  .biography{
    display: flex;
    margin-top: 100px;
}
.firstText{
    display: flex;
    align-items: center;
}
.paragrafo{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
  }

  /* Small Screen */
 @media(max-width:576px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem{
    
        margin-top: 10%;
    }
    .imagem__esquerda{
        margin-bottom: 10%;
    }
}
/* Medium Screen */
@media(max-width:768px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem{
        margin-bottom: 10%;
    }

  } 
/* Large Screen */
  @media(max-width:992px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
  }
  /* extraLarge Screen */
  @media(max-width:1400px){
    .biography, .advantages, .listaFuncionalidade{
        flex-direction: column;
        align-items: center;
    }
    .imagem__esquerda{
         margin-bottom: 10%; /*It works, for some reason, but it works  */
    }
    .imagem{
        
    }
  }

  .funcionalidades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
  }
  
.listaFuncionalidade{
    display: flex;
}

.thirdPart{
    margin-top: 20%;
}
.advantages{
    display: flex;
}
ol > li , ul > li{
    padding-bottom: 5%;
    
}
